.train-schedule {
    font-family: DS-DIGITAL;
    font-size: 20px;
}

#current-time {
    text-align: center;
    font-family: DS-DIGITAL;
    font-size: 28px;
}

body {
    background-image: url("../images/train.jpg");
    background-size: cover;
}

.jumbotron {
    background: cornflowerblue;
    font-family: Solari;
}

.card-header {
    text-align: center;
    background: cornflowerblue;
}

#scheduler,
#train-board {
    background-color: papayawhip;
}

.form-control {
    background: black;
    background-color: azure;
    ;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}