.train-schedule {
    font-family: DS-DIGITAL;
    font-size: 20px;
}

#current-time {
    text-align: center;
    font-family: DS-DIGITAL;
    color: white;
    font-size: 28px;
}

body {
    background-image: url("../images/train.jpg");
    background-size: cover;
}

.jumbotron {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Oxygen, sans-serif;
    color: black;
}

.card-header {
    text-align: center;
    background: black;
    color: white;
}

#scheduler,
#train-board {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    color: white;
}
td {
    color: white;
    text-align: center;
}
th {
    text-align: center;
}

.form-control {
    background: black;
    background-color: azure;
    ;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}